h1, h2, h3, h4, h5, h6{
    margin: 0 auto;
    font-weight: bold;
    color: var(--primary);
    font-family: var(--serif);
    width: 100%;
    max-width: 680px;
}

h1, h1 *, h2, h2 * {
  margin: 25px auto 18px;
}

h3, h3 * {
  margin: 20px auto 10px;
}

h1{
    font-size: 52px;
    line-height: 1.15;
}

h2{
    font-size: 32px;
    line-height: 1.333;
}

h3{
    font-size: 24px;
    line-height: 1.45;
}

h4{
    font-size: 18px;
    line-height: 1.45;
}

h5{
    font-size: 18px;
    line-height: 1.45;
}

h6{
    font-size: 16px;
    line-height: 1.45;
}

@media screen and (max-width: 1070px){
    h1{
        font-size: 38px;
        line-height: 1.2;
    }
    h2{
        font-size: 21px;
    }
    h1, h2, h3, h4, h5, h6{
        max-width: 507px!important;
        color:red!important;
        margin: 150px auto 18px!important;
    }
}

@media screen and (max-width: 737px){
    h1, h2{
        margin: 30px auto 18px;
    }
    h2{
        font-size: 24px;
        line-height: 1.45;
    }
    h3{
        font-size: 22px;
    }
}

@media screen and (max-width: 540px){
    h1{
        font-size: 32px;
        line-height: 1.3;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 14px;
    }
}
