<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text" style="text-align:center">
          © {{ dateFormat "2006" now }} {{ .Site.Title }} ‒ <a href="/mentions_legales/" rel="nofollow">Mentions Légales</a>
        </div>
    </div>
</div>
