<div id="logo-desktop">
        <svg
        width="23"
        height="23"
        viewBox="0 0 192 23"
        x="0px" y="0px"
        style="enable-background:new 0 0 497.123 497.123;"
        xml:space="preserve"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        className="Logo__Desktop"
      >
        <g clipPath="url(#clip0)">
          <path style="fill:#7A8085;" d="M439.715,260.127l25.973,25.973L286.115,465.673L260.142,439.7L439.715,260.127z M56.854,260.118
	l-25.688,25.689l179.577,179.588l25.698-25.698L56.854,260.118z M236.446,56.849l-25.411-25.411L31.448,211.025l25.411,25.411
	L236.446,56.849z M68.694,248.277l179.586,179.58l179.577-179.58L248.28,68.694L68.694,248.277z M492.818,238.162l-15.581-15.581
	l-25.698,25.699l25.97,25.972l15.31-15.309c2.755-2.756,4.304-6.494,4.304-10.391C497.122,244.655,495.573,240.917,492.818,238.162z
	 M439.697,236.438l25.698-25.698L285.809,31.165l-25.686,25.687L439.697,236.438z M19.599,222.866L4.303,238.162
	c-5.738,5.738-5.738,15.042,0,20.781l15.025,15.024l25.686-25.687L19.599,222.866z M222.584,477.235l15.582,15.583
	c2.754,2.756,6.492,4.305,10.39,4.305s7.636-1.549,10.39-4.305l15.31-15.309l-25.974-25.973L222.584,477.235z M273.967,19.324
	l-15.022-15.02c-5.738-5.738-15.041-5.738-20.779,0l-15.294,15.294l25.409,25.412L273.967,19.324z"/>
  <path class="change-fill" style="fill:#000;" d="M439.715,260.127l25.973,25.973L286.115,465.673L260.142,439.7L439.715,260.127z M56.854,260.118
	l-25.688,25.689l179.577,179.588l25.698-25.698L56.854,260.118z M236.446,56.849l-25.411-25.411L31.448,211.025l25.411,25.411
	L236.446,56.849z M68.694,248.277l179.586,179.58l179.577-179.58L248.28,68.694L68.694,248.277z M492.818,238.162l-15.581-15.581
	l-25.698,25.699l25.97,25.972l15.31-15.309c2.755-2.756,4.304-6.494,4.304-10.391C497.122,244.655,495.573,240.917,492.818,238.162z
	 M439.697,236.438l25.698-25.698L285.809,31.165l-25.686,25.687L439.697,236.438z M19.599,222.866L4.303,238.162
	c-5.738,5.738-5.738,15.042,0,20.781l15.025,15.024l25.686-25.687L19.599,222.866z M222.584,477.235l15.582,15.583
	c2.754,2.756,6.492,4.305,10.39,4.305s7.636-1.549,10.39-4.305l15.31-15.309l-25.974-25.973L222.584,477.235z M273.967,19.324
	l-15.022-15.02c-5.738-5.738-15.041-5.738-20.779,0l-15.294,15.294l25.409,25.412L273.967,19.324z"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="191.156" height="23" fill="white" />
          </clipPath>
        </defs>
      </svg>
</div>
<div id="logo-mobile" class="hidden">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="23" height="23" viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet">
   <metadata>
   Created by potrace 1.15, written by Peter Selinger 2001-2017
   </metadata>
   <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
   fill="{{ $.Site.Params.Colors.primary }}" stroke="none">
 <path style="fill:#7A8085;" d="M439.715,260.127l25.973,25.973L286.115,465.673L260.142,439.7L439.715,260.127z M56.854,260.118
	l-25.688,25.689l179.577,179.588l25.698-25.698L56.854,260.118z M236.446,56.849l-25.411-25.411L31.448,211.025l25.411,25.411
	L236.446,56.849z M68.694,248.277l179.586,179.58l179.577-179.58L248.28,68.694L68.694,248.277z M492.818,238.162l-15.581-15.581
	l-25.698,25.699l25.97,25.972l15.31-15.309c2.755-2.756,4.304-6.494,4.304-10.391C497.122,244.655,495.573,240.917,492.818,238.162z
	 M439.697,236.438l25.698-25.698L285.809,31.165l-25.686,25.687L439.697,236.438z M19.599,222.866L4.303,238.162
	c-5.738,5.738-5.738,15.042,0,20.781l15.025,15.024l25.686-25.687L19.599,222.866z M222.584,477.235l15.582,15.583
	c2.754,2.756,6.492,4.305,10.39,4.305s7.636-1.549,10.39-4.305l15.31-15.309l-25.974-25.973L222.584,477.235z M273.967,19.324
	l-15.022-15.02c-5.738-5.738-15.041-5.738-20.779,0l-15.294,15.294l25.409,25.412L273.967,19.324z"/>
  <path class="change-fill" style="fill:#000;" d="M439.715,260.127l25.973,25.973L286.115,465.673L260.142,439.7L439.715,260.127z M56.854,260.118
	l-25.688,25.689l179.577,179.588l25.698-25.698L56.854,260.118z M236.446,56.849l-25.411-25.411L31.448,211.025l25.411,25.411
	L236.446,56.849z M68.694,248.277l179.586,179.58l179.577-179.58L248.28,68.694L68.694,248.277z M492.818,238.162l-15.581-15.581
	l-25.698,25.699l25.97,25.972l15.31-15.309c2.755-2.756,4.304-6.494,4.304-10.391C497.122,244.655,495.573,240.917,492.818,238.162z
	 M439.697,236.438l25.698-25.698L285.809,31.165l-25.686,25.687L439.697,236.438z M19.599,222.866L4.303,238.162
	c-5.738,5.738-5.738,15.042,0,20.781l15.025,15.024l25.686-25.687L19.599,222.866z M222.584,477.235l15.582,15.583
	c2.754,2.756,6.492,4.305,10.39,4.305s7.636-1.549,10.39-4.305l15.31-15.309l-25.974-25.973L222.584,477.235z M273.967,19.324
	l-15.022-15.02c-5.738-5.738-15.041-5.738-20.779,0l-15.294,15.294l25.409,25.412L273.967,19.324z"/>
   </g>
   </svg>
</div>
